/**
 * Stylesheet _style.scss
 */

.iframe-demo-row {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;

    iframe {
        height: 100vh;
        width: 100%;
    }

    & > * {
        flex-grow: 0;
    }
}

.iframe-wrapper {
    @extend .iframe-demo-row;
    width: 90%;
    margin: 0 auto;
}
